[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1rc1"
psycopg = {extras = ["pool"] }
django-extensions = "*"
django-allauth = "*"
pillow = "*"
django-cleanup = "*"
django-htmx = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
